
<input class="form-control" 
    tabindex="0" 
    type="text" 
    [formControl]="formControl" 
    [placeholder]="placeholder" 
    (blur)="onBlurEventHandler()" 
    (focus)="onFocusEventHandler()" />

<ng-container *ngIf="(autofilter | filter:formControlValue:'value'); let data">
    <div *ngIf="data?.length > 0" 
        class="autofilter" 
        [class.show]="show">
        <span *ngFor="let data of data" 
            tabindex="0" 
            [innerHtml]="data.value | bold:formControlValue" 
            (click)="onClickEventHandler(data.value)" 
            (focus)="onFocusEventHandler()"></span>
    </div>
</ng-container>
