
<h4>Template for main page:</h4>

<div class="container-fluid">
    <div class="well" *ngIf="{
        isDone:     isDoneState$ | async, 
        isLoading:  isLoadingState$ | async, 
        state:      loadingState$ | async
    }; let state">
        <h2>Enter a zipcode:</h2>
        <input id="addLocation"
            #Zipcode 
            class="form-control" 
            placeholder="Zipcode" 
            type="text" 
            [disabled]="state.isLoading || state.isDone" 
            (ngModel)="Location.value" />
        
        <br />

        <h2>Enter a location:</h2>
        <app-shared-input #Location 
            autofilterMinLength="0"
            placeholder="Location"
            [autofilter]="autofilterData$ | async" 
            [disabled]="state.isLoading || state.isDone" 
            [value]="(localStorageData$ | async)[Zipcode.value]"></app-shared-input>

        <br />

        <!-- * Testing the customizable component -->
        <!-- TODO: Uncomment that comment -->
        <!-- <style>
            .shared-button-done-custom {
                background-color: blue !important;
                font-weight: bolder;
            }
            .shared-button-loading-custom {
                background-color: red !important;
                font-weight: bolder;
            }
        </style>
        <app-shared-button id="addLocationBtn" 
            shared-button-done="shared-button-done-custom"
            shared-button-loading="shared-button-loading-custom"
            [disabled]="!Location.value || !Zipcode.value" 
            [state]="loadingState$ | async"
            (click)="onClickEventHandler(Zipcode.value, Location.value)">
            <img *ngIf="state.isDone" 
                alt="Icon" 
                icon 
                src="/assets/done-icon.png" />
            <span>{{ textButton$ | async }}</span>
        </app-shared-button> -->
        
        <!-- TODO: Comment that html tag -->
        <!-- ? First approach -->
        <app-shared-button id="addLocationBtn" 
            [disabled]="!Location.value || !Zipcode.value" 
            [state]="state.state"
            (click)="onClickEventHandler(Zipcode.value, Location.value)">
            <ng-container>
                <span>Add location</span>
            </ng-container>
            <ng-container done>
                <img alt="Icon" 
                    src="/assets/done-icon.png" />
                <span>Done</span>
            </ng-container>
            <ng-container loading>
                <span>Adding...</span>
            </ng-container>
        </app-shared-button>
        
        <!-- ? Comment for second approach -->
        <!-- <app-shared-button id="addLocationBtn" 
            [disabled]="!Location.value || !Zipcode.value" 
            [state]="state.state"
            [template-default]="SharedButtonDefaultState"
            [template-done]="SharedButtonDoneState"
            [template-loading]="SharedButtonLoadingState"
            (click)="onClickEventHandler(Zipcode.value, Location.value)"></app-shared-button> -->
        
        <ng-template #SharedButtonDefaultState>Add location</ng-template>
        <ng-template #SharedButtonDoneState>
            <img alt="Icon" 
                src="/assets/done-icon.png" />
            <span>Done</span>
        </ng-template>
        <ng-template #SharedButtonLoadingState>Adding...</ng-template>
    </div>

    <div>
        <app-zipcode-card *ngFor="let weather of weathers$ | async" 
            [condition]="weather.condition" 
            [location]="weather.location" 
            [name]="(autofilterData$ | async | filter:weather.location:'key')[0]?.value + ', ' + weather.name" 
            [temperature]="weather.temperature" 
            [weather]="weather.weather" 
            [zipcode]="weather.zipcode" 
            (close)="onCloseEventHandler($event)"></app-zipcode-card>
    </div>
</div>
