
<div class="well flex">
    <div>
        <h3>{{ name }} ({{ zipcode }})</h3>
        <h4>Current conditions: {{ condition | capitalCase }}</h4>
        <h4>Temperatures today:</h4>
        <p>
            Current {{ temperature.current }}
            - Max {{ temperature.max }}
            - Min {{ temperature.min }}
        </p>
        <p>
            <a [queryParams]="queryParams"
                [routerLink]="['/forecast']">Show 5-day forecast for {{ name }}</a>
        </p>
    </div>
    
    <div>
        <span class="close" (click)="onClickEventHandler()">×</span>
        <img *ngIf="icon" [src]="icon" />
    </div>
</div>
